<div class="text-center m-5">
    <div class="spinner-grow text-dark mx-1" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success mx-1" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-primary mx-1" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-info mx-1" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary mx-1" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>