<h3>about works!</h3>
<table>
    <thead>
        <tr>
            <th>Parameter</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Developed By</td>
            <td>Aman Kumar</td>
        </tr>
        <tr>
            <td>Back-end Tech-stack</td>
        </tr>
        <tr>
            <td>Spring Boot</td>
            <td>Version 3.0</td>
        </tr>
        <tr>
            <td>MySQL</td>
            <td>version 8</td>
        </tr>
        <tr>
            <td>Java</td>
            <td>Version 17</td>
        </tr>
        <tr>
            <td>Front-end Tech-stack</td>
        </tr>
        <tr>
            <td>Angular</td>
            <td>version 15</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>Version 5</td>
        </tr>
        <tr>
            <td>CSS</td>
            <td>Version 3</td>
        </tr>
    </tbody>
</table>
