<div class="container">
    <p class="h5">All Accounts</p>
    <div class="row">
        <table class="table table-primary table-striped">
            <thead>
              <tr>
                <th scope="col">#id</th>
                <th scope="col">A/C Number</th>
                <th scope="col">A/C Holder Name</th>
                <th scope="col">Balance</th>
                <th scope="col">IFSC Code</th>
                <th scope="col">Date Of Opening</th>
                <th scope="col">Active Status</th>
                <th scope="col">Deletion Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="!showLoading && !noData &&!errorOccured">
              <tr *ngFor="let account of accounts">
                <th scope="row">{{account.id}}</th>
                <td>{{account.accountNumber}}</td>
                <td>{{account.accountHolderName}}</td>
                <td>{{account.balance | currency:"INR":"symbol" }}</td>
                <td>{{account.ifscCode}}</td>
                <td>{{account.dateOfOpening}}</td>
                <td>{{account.active}}</td>
                <td>{{account.deleted}}</td>
                <td>
                  <span class="mx-1 text-dark"><i class="bi bi-eye"></i></span>
                  <span class="mx-1 text-primary"><i class="bi bi-pencil"></i></span>
                  <span class="mx-1 text-danger"><span (click)="markAsDelete(account.id)"><i class="bi bi-trash3"></i></span></span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="mt-5" *ngIf="showLoading">
            <app-growing-spinner></app-growing-spinner>
          </div>
          <div class="mt-5" *ngIf="noData">
            <p class="text-center fs-1"><i class="bi bi-database-x"></i></p>
            <p class="text-center">No records found!</p>
          </div>
          <div class="mt-5" *ngIf="errorOccured">
            <p class="text-center fs-1"><i class="bi bi-database-fill-exclamation"></i></p>
            <p class="text-center">Couldn't get data from server!</p>
          </div>
    </div>
</div>