<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-2">
      <p class="h5">All Accounts</p>
    </div>
    <div class="col-2 mb-3 form-check">
      <form [formGroup]="formGroup" novalidate>
        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="hideDeleted" >
        <label class="form-check-label" for="exampleCheck1">Hide Deleted Records</label>
      </form>
    </div>
  </div>
    <div class="row">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#id</th>
                <th scope="col">A/C Number</th>
                <th scope="col">A/C Holder Name</th>
                <th scope="col">Balance</th>
                <th scope="col">IFSC Code</th>
                <th scope="col">Date Of Opening</th>
                <th scope="col">Active Status</th>
                <th scope="col">Deletion Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody *ngIf="!showLoading && !noData &&!errorOccured">
              <tr *ngFor="let account of accounts" [class.d-none]="hideDeleted.value && account.deleted">
                <th [ngClass]="getRowCss(account)" scope="row">{{account.id}}</th>
                <td [ngClass]="getRowCss(account)">{{account.accountNumber}}</td>
                <td [ngClass]="getRowCss(account)">{{account.accountHolderName}}</td>
                <td [ngClass]="getRowCss(account)">{{account.balance | currency:"INR":"symbol" }}</td>
                <td [ngClass]="getRowCss(account)">{{account.ifscCode}}</td>
                <td [ngClass]="getRowCss(account)">{{account.dateOfOpening}}</td>
                <td [ngClass]="getRowCss(account)">{{getActivationQuote(account.active)}}</td>
                <td [ngClass]="getRowCss(account)">{{getDeletionQuote(account.deleted)}}</td>
                <td [ngClass]="getRowCss(account)">
                  <span class="mx-1" [ngClass]="account.deleted?'text-light':'text-dark'" (click)="viewAccount(account.id)"><i class="bi bi-eye"></i></span>
                  <span class="mx-1" [ngClass]="account.deleted?'text-light':'text-primary'" (click)="editAccount(account.id)"><i class="bi bi-pencil"></i></span>
                  <span *ngIf="account.deleted; else accountNotDeleted">
                    <span class="mx-1" (click)="restoreAccount(account.id)"><i class="bi bi-recycle text-light"></i></span>
                  </span>
                  <ng-template #accountNotDeleted>
                    <span (click)="markAsDelete(account.id)"><i class="bi bi-trash3 text-danger"></i></span>
                  </ng-template>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="mt-5" *ngIf="showLoading">
            <app-growing-spinner></app-growing-spinner>
          </div>
          <div class="mt-5 fs-5 fw-semibold text-center" *ngIf="noData">
            <img [src]="emptyDataImg" alt="empty data" width="250">
            <p class="text-center">No records found!</p>
          </div>
          <div class="mt-5 fs-5 fw-semibold text-center" *ngIf="errorOccured">
            <p class="text-center fs-1"><i class="bi bi-database-fill-exclamation"></i></p>
            <p class="text-center">Couldn't get data from server!</p>
          </div>
    </div>
</div>