<div class="container">
    <p class="h5">Card Registration</p>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Account Number</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="validity" class="form-label">Validity Period</label>
          <select class="form-select" aria-label="Default select example" name="validity" id="validity">
            <option value="1">1 Years</option>
            <option value="5" selected>5 Years</option>
            <option value="8">8 Years</option>
            <option value="10">10 Years</option>
          </select>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Activate immediately </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>