<div class="container">
    <div class="row flex-column justify-content-center align-items-center full-page-height">
        <div class="mb-5"><p class="h2 text-center">Welcome to My Bank</p></div>
        <div class="col-2 mb-5">
            <img src="../../assets/imgs/bank.png" alt="bank-logo" class="img-fluid" />
        </div>
        <div class="mb-5"><p class="h4 text-center">Click/press the 'Get Started' button below to scan your card</p></div>
        <div class="text-center">
            <button class="btn btn-primary btn-lg" (click)="getStarted()">Get Started</button>
        </div>
    </div>
</div>